<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Payconiq Test Task" verbose="5" data-provider-thread-count="1">
    <test name="Test Git Gist CRUD">
        <parameter name="path" value="/"/>
        <classes>
            <class name="CreateGistTest"/>
            <class name="GetGistTest"/>
            <class name="UpdateGistTest"/>
            <class name="DeleteGistTest"/>
        </classes>
    </test>
</suite>